
.body {
    width: 600px;
}

.header {
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}

.main {
    padding: 8px
}

.menu button {
    margin-right: 8px;
}

.area {
    border:solid 1px black; 
    margin: 5px 0;
}